@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

#cnt {
  display: flex;
  opacity: 0;
  transition: 1s;
  flex-wrap: wrap;
  font-family: "Fredoka One", cursive;
}

#cnt .country_box {
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  margin: 3%;
  padding-top: 2%;
  width: 340px;
  box-shadow: 0px 0px 30px rgb(209, 203, 203);
  overflow: hidden;
}
#cnt .country_box .flag {
  width: 100%;
}

#cnt .country_box .txt_box {
  padding: 6%;
  letter-spacing: 1px;
}
#cnt .country_box .txt_box .name {
  font-size: 35px;
  width: 100%;
}

.getinfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  transition: 0.2s;
  font-size: 28px;
  border: none;
  padding: 1%;
}

button {
  font-family: "Fredoka One", cursive;
  cursor: pointer;
  border: none;
}

.more {
  padding: 2%;
}
