@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

body {
  background-color: rgb(240, 236, 236);
}

#cnt {
  justify-content: center;
  display: flex;
  opacity: 0;
  transition: 1s;
  flex-wrap: wrap;
  font-family: "Fredoka One", cursive;
}

#cnt .error {
  width: 100%;
  margin-top: 20%;
  font-size: 28px;
  /* top: 50%; */
  text-align: center;
}

#cnt .error button {
  position: relative;
  border: none;
  font-size: 35px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
#cnt .error button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "🛬";
}

#cnt .error button:hover::before {
  content: "🛫";
  transition: 1s;
}

#cnt .country_box {
  position: relative;
  border-radius: 5%;
  margin: 3%;
  width: 340px;
  height: 500px;
  box-shadow: 0px 0px 30px rgb(209, 203, 203);
  background-color: #fff;
  transform-style: preserve-3d;
}

#cnt .country_box:hover {
  transition: 1s;
  transform: rotateX(180deg);
}

#cnt .country_box .front,
#cnt .country_box .back {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s;
  backface-visibility: hidden;
}
#cnt .country_box .front {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#cnt .country_box .front h1 {
  text-align: center;
  font-size: 43px;
  letter-spacing: 2px;
  font-weight: 300;
}

#cnt .country_box .back {
  height: 90%;
  transform: rotateX(180deg);
  padding: 6%;
  font-size: 22px;
  letter-spacing: 1px;
}
#cnt .country_box .back .current {
  width: 200px;
  line-height: 40px;
  margin-top: 60px;
  font-weight: 300;
  text-align: center;
  background-color: rgb(105, 221, 38);
  color: #fff;
  /* border: 2px solid rgb(105, 221, 38); */
}

#cnt .country_box .flag {
  width: 100%;
}

#cnt .country_box .txt_box .name {
  font-size: 35px;
  width: 100%;
  margin-bottom: 20%;
}

.getinfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  transition: 0.2s;
  font-size: 28px;
  border: none;
  padding: 1%;
}

button {
  font-family: "Fredoka One", cursive;
  cursor: pointer;
  border: none;
  background-color: rgb(218, 216, 216);
}

.more {
  padding: 2%;
  letter-spacing: 1px;
  font-size: 18px;
  margin-top: 10%;
}

.more:hover {
  background-color: red;
  color: #fff;
  transition: 0.4s;
}
